[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

bottle = "*"
boddle = "*"
pytest = "*"
setuptools = "*"
couchdb = "*"
pytest-mock = "*"
plupload = "*"
pillow = "*"
pyyaml = "*"
pyqrcode = "*"
pypng = "*"
beaker = "*"
python-jwt = "*"
pytest-cov = "*"
