%include('head.html')
<body>
    % include('navbar.html')
    <script src="https://cdn.rawgit.com/JonathanHuot/bottlepy-plupload/fe5ffa11/js/plupload.full.min.js"></script>
    <div class="container">
        <h1>Upload Videos</h1>
        <p id="album_id" style="display: none;">{{album_id}}</p>
        <ul class="list-group" id="filelist"></ul>

        <div id="container">
            <a id="browse" class="btn btn-default" href="javascript:;">[Browse...]</a>
            <a id="start-upload" class="btn btn-default" href="javascript:;">[Start Upload]</a>
        </div>
    </div>
    <script src="/static/scripts/uploader.js"></script>
    % include('footer.html')
</body>