%include('head.html')
<body>
    % include('navbar.html')
    <div class="container">
    <h1>QR Codes: </h1>
    <button class="btn btn-success" onclick="printCodes()">Print all codes</button></br>
        % for img in qr_images:
            <div class="col-xs-3">
                <h3>{{img}}</h3>
                <img src='/static/qr/{{album_id}}/{{img}}'></img>
            </div>
        % end
    </div>
    <script>
        function printCodes() {
            window.print();
        }
    </script>                  
    % include('footer.html')
</body>