%include('head.html')
<body>
    % include('navbar.html')
    <div class="container">
        <h3>Select color pallete: </h3>
        <form action="generate" method="POST">
            <input type="hidden" class="form-control" name="album_id" value="{{album_id}}"></input>
            <div class="radio">
                % for palette in palettes:
                    <label>
                        <input type="radio" name="palettes" value="{{palette}}">
                        <img height="20px" widht="100px" src="/static/images/{{palettes[palette]['img']}}"></img>
                        &emsp; {{palettes[palette]['name']}}
                    </label>
                    <br>
                % end
            </div>
            <button type="submit" class="btn btn-default">Generate QR codes</button>
        </form>
    </div>
    % include('footer.html')
</body>